name: Release and Commit

permissions:
  contents: write

on:
  release:
    types: [published]

jobs:
  release-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update version or generate files
        run: |
          python3 .github/update-meta.py

      - name: Commit changes
        run: |
          git add .
          git commit -m "chore: update for release ${{ github.event.release.tag_name }}"
          git push origin HEAD:${{ github.ref_name }}